@import "vars";

.container {
  min-height: 100vh;
  background-color: $background;

  @media (prefers-color-scheme: dark) {
    background-color: $backgroundDark;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
  margin-left: 20%;
  padding: 5em 0;
  height: 100%;

  @media (max-width: $tablets) {
    max-width: 95%;
    margin: 0 auto;
    padding-top: 9em;
  }

  &__title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.dashboard {
  width: 100%;
  margin-bottom: 5em;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 24px;
    }

    span {
      color: $primary;
      margin-left: 0.3em;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;

    @media (max-width: $tablets) {
      width: 100%;
      justify-content: flex-end;
      margin-top: 1em;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    select,
    input {
      border-radius: 20px;
      padding-left: 2.3em;
      color: $primary;
    }

    label {
      margin: 0;
      left: 1.8em;
      top: 0.1em;
      width: 20px;
      height: 20px;
    }

    button {
      padding: 0;
      background: $background;
      margin-left: 0.5em;
    }
  }

  &__text {
    width: 100%;
    border-bottom: 1px solid $primary;
    padding: 0.5em;
    padding-bottom: 0;

    &[open] {
      summary {
        &::before {
          transform: rotate(90deg);
          transition: all 0.5s;
        }
      }
    }

    summary {
      cursor: pointer;
      margin-bottom: 0.5em;
      position: relative;
      padding-left: 1.5em;

      &::before {
        content: "";
        background-image: url(/images/arrow.svg);
        transition: all 0.5s;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &_title {
      font-size: 1.2em;
      font-weight: bold;
    }

    &_subTitle {
      font-size: 1.1em;
      font-weight: 550;
      margin-bottom: 0.5em;
    }

    &_body {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0.5em;
      margin-left: 2em;
      border-left: 1px solid $primary;
      padding-left: 0.5em;
    }

    &_txt {
      margin-bottom: 0.5em;
      text-align: justify;
    }

    &_bold {
      font-weight: bold;
      margin: 0 0.3em;
    }

    &_link {}

    &_imgs {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;

      span {
        margin: 0.5em !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
      }
    }

  }
}

.metronome {
  width: 100%;

  &__controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    button {
      padding: 0;
      background: $textGray;
      border: 2px solid $textGray;
    }

    &_active {
      border: 2px solid $primary  !important;
    }
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 1.5em;

  &__cancel {
    background: $background;
    color: $textBlack;
    padding: 0;
    margin-right: 1em;

    @media (prefers-color-scheme: dark) {
      color: $textWhite;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background;
  border: 1px solid $textGray;
  font-size: 2em;
  padding: 0.3em 1em;
  text-transform: capitalize;
  border-radius: 30%;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  z-index: 1;

  &:hover {
    box-shadow: 0px 2.6769px 4.3538px rgba(0, 0, 0, 0.25);
    border: 1px solid $primary;
  }
}

.courseFlute {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3em;

  &__exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    &_exercise {
      margin-bottom: 1em;
      font-weight: 600;
      font-size: 1.5em;

      span {
        padding: 0 2em;
        margin-left: 1em;
        border-bottom: 2px solid $primary;
      }
    }

    &_answer {
      margin-top: 1em;
      width: 50%;
    }
  }

  &__actFalse {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &_act {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      input {
        position: absolute;
        width: fit-content;
        height: fit-content;

        &:nth-child(2) {
          top: 28px;
          left: 84px;
        }

        &:nth-child(3) {
          top: 64px;
          left: 75px;
        }

        &:nth-child(4) {
          top: 37px;
          left: 114px;
        }

        &:nth-child(5) {
          top: 73px;
          left: 114px;
        }

        &:nth-child(6) {
          top: 103px;
          left: 114px;
        }

        &:nth-child(7) {
          top: 118px;
          left: 144px;
        }

        &:nth-child(8) {
          top: 142px;
          left: 91px;
        }

        &:nth-child(9) {
          top: 160px;
          left: 114px;
        }

        &:nth-child(10) {
          top: 175px;
          left: 94px;
        }

        &:nth-child(11) {
          top: 193px;
          left: 114px;
        }

        &:nth-child(12) {
          top: 208px;
          left: 94px;
        }

        &:nth-child(13) {
          top: 227px;
          left: 114px;
        }

        &:nth-child(14) {
          top: 247px;
          left: 86px;
        }

        &:nth-child(15) {
          top: 274px;
          left: 100px;
        }

        &:nth-child(16) {
          top: 294px;
          left: 105px;
        }
      }

      div {
        background: $backgroundItem2;
        padding: 1em;
        border-radius: 2em;
      }

      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        background: $background;
        border: 2px solid $textGray;
        color: $textGray;
        margin-top: 1em;
        width: fit-content;

        &:hover {
          border: 2px solid $green  !important;
          color: $green  !important;
        }
      }
    }

  }
}

.courseGuitar {
  &__difficulty {
    margin-bottom: 1em;

    button {
      margin-right: 1em;
      margin-bottom: 1em;
      background: $background;
      color: $primary;
      border: 2px solid $primary;
      border-radius: 2em;
      padding: 0.5em 2em;
    }

    p {
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    &_active {
      background: $primary  !important;
      color: $textWhite  !important;
    }
  }

  &__exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    &_guitarCapo {
      background: orange;
      width: 40px;
      height: 85%;
      position: absolute;
      border-radius: 2em;
      margin-top: 0.8em;
      box-shadow: 10px 5px 5px black;
    }

    &_exercise {
      margin-bottom: 1em;
      font-weight: 600;
      font-size: 1.5em;

      span {
        padding: 0 2em;
        margin-left: 1em;
        border-bottom: 2px solid $primary;
      }
    }

    &_answer {
      margin-top: 1em;
      width: 50%;
    }

    &_play {
      display: flex;
      flex-direction: column;
      background: $background;
      padding: 0;
      color: $textGray;
      border: 2px solid $textGray;

      &:hover {
        border: 2px solid $green;
        color: $green;
      }
    }
  }

  &__capo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 1em 0;

    button {
      background: $background;
      padding: 0.5em 2em;
      font-size: 20px;
      color: $textBlack;
      border: 1px solid $primary;
      border-radius: 2em;
    }

    &_active {
      background: $primary  !important;
      color: $textWhite  !important;
    }
  }

  &__actFalse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &_example {
      font-weight: bold;
      margin-top: 1em;
    }

    &_atc {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1px solid $textGray;
      background: $backgroundItem2;
      padding: 1em;
      border-radius: 10px;
      margin: 1em 0;
      position: relative;

      p {
        margin-bottom: 1em;
      }
    }

    &_note {
      font-size: 2em;
      font-weight: bold;
      position: absolute;
      right: 1em;
      top: 2em;
      color: $textWhite;
      padding: 0.3em;
      border-radius: 50%;
      background: $primary;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3em;

    button {
      background: $background;
      padding: 0;
      width: 33.33%;
      font-size: 20px;
      color: $textBlack;
      border-bottom: 1px solid $borderGray;
      border-radius: 0;
    }

    &_active {
      border-bottom: 3px solid $primary  !important;
    }
  }
}

.course {
  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3em;

    button {
      background: $background;
      padding: 0;
      width: 50%;
      font-size: 20px;
      color: $textBlack;
      border-bottom: 1px solid $borderGray;
      border-radius: 0;
    }

    &_active {
      border-bottom: 3px solid $primary  !important;
    }
  }
}

.modal3,
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 1em;
  position: absolute;
  border-radius: 10px;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background: #f5f5f5;
  width: fit-content;
  max-width: 90%;
  max-height: 90%;
  // min-width: 450px;
  overflow-y: auto;

  @media (max-width: $phone) {
    min-width: 90%;
  }

  @media (prefers-color-scheme: dark) {
    background: $backgroundItemDark;
  }

  &__close {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2em;
    text-decoration: none;
    background: $background;
    padding: 0;
    color: $textBlack;
  }

  &__txt {
    &_sub {
      font-size: 20px;
      text-align: center;
    }

    &_body {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin-top: 1em;
      text-decoration: underline;
    }

    &_characterCounter {
      font-size: 12px;
      color: $textGray;
      text-align: end;
      margin-top: 0.1em;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_zone25 {
      width: calc(25% - 1em);

      @media (max-width: $tablets) {
        width: calc(50% - 0.5em);
      }
    }

    &_zone50 {
      width: calc(50% - 0.5em);

      @media (max-width: $tablets) {
        width: 100%;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;

    &_cancel {
      background: $background;
      color: $textBlack;
      padding: 0;
      margin-right: 1em;

      @media (prefers-color-scheme: dark) {
        color: $textWhite;
      }
    }
  }
}



.modal2 {
  padding: 0;
  position: absolute;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: fit-content;
  max-width: 90%;
  max-height: 90%;
  min-width: 450px;
  overflow-y: auto;
  border-radius: 1em;

  @media (max-width: $phone) {
    min-width: 90%;
  }

  &__atc2,
  &__atc {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  &__atc2 {
    background: $backgroundItem2;
    align-items: center;
    border-radius: 2em;
    padding: 2em 1em;
  }

  &__time2,
  &__time {
    font-size: 1em;
    font-weight: 500;
    border-radius: 1em;
    background: $backgroundItem2;
    width: fit-content;
    padding: 0.3em 0.5em;
    margin: 0.5em 0;
  }

  &__time2 {
    background: $primary;
    color: $textWhite;
    margin-bottom: 1em;
  }

  &__note {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    right: 0.5em;
    top: 2.5em;
    color: $textWhite;
    padding: 0.3em;
    border-radius: 1em;
    background: $primary;
  }
}


.index {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  width: 100%;

  &__courses {
    display: flex;
    flex-wrap: wrap;

    p {
      width: 100%;
      font-weight: bold;
    }

    &_title {
      font-size: 2em;
      margin-bottom: 1em;
    }

    &_subtitle {
      font-size: 1.5em;
      margin: 1.5em 0;
    }
  }
}

// Skeleton
@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.componentCircleSkeleton:empty,
.component100Skeleton:empty,
.component50Skeleton:empty {
  border-radius: 5px;
  cursor: progress;
  background: linear-gradient(0.25turn, transparent, $background, transparent),
    linear-gradient($backgroundItem, $backgroundItem);
  background-repeat: no-repeat;
  background-size: 50% 100%, 100% 200px, 100px 100px, 225px 30px;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1s infinite;
}

.componentCircleSkeleton:empty {
  width: 70px;
  border-radius: 50%;
}

.component50Skeleton:empty {
  width: calc(50% - 1em);
}

.component100Skeleton:empty {
  width: 100%;
}

.componentCircleSkeleton:empty,
.component100Skeleton:empty,
.component50Skeleton:empty {
  height: 70px;
  margin-bottom: 1.5em;
}

.skeleton {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
  margin-left: 20%;
  padding-top: 5em;
  height: 100%;

  @media (max-width: $tablets) {
    max-width: 95%;
    margin: 0 auto;
    padding-top: 8em;
  }
}

.people {
  position: fixed;
  bottom: 0;
  right: 0;
  // z-index: 0;
}

.sheetMusic {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $backgroundItem2;
    border: 1px solid $textGray;
    font-size: 1em;
    padding: 0.3em 1em;
    text-transform: capitalize;
    border-radius: 10px;
    margin-bottom: 0.5em;
    margin-left: 0.5em;


    span {
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 1px solid $primary;
    }

    &:hover {
      box-shadow: 0px 2.6769px 4.3538px rgba(0, 0, 0, 0.25);
      border: 1px solid $primary;
    }

  }
}