@import "vars";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 0 0 #00000012;
  background: $background;
  padding: 0.3em 0;
  position: fixed;
  top: 0;
  z-index: 3;

  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_movil {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        margin-bottom: 0.5em;
      }

      button {
        color: $primary;
        padding: 0;
        font-size: 24px;
        margin-bottom: 1em;
        line-height: 19px;
        font-feature-settings: "smcp";
        font-variant: small-caps;
        background: none;
        text-decoration: underline;
      }
    }

    &_log {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1em 0;

      @media (max-width:$tablets) {
        display: none;
        flex-direction: column;
      }

      button {
        color: $primary;
        padding: 0;
        font-size: 24px;
        margin-left: 1em;
        line-height: 19px;
        font-feature-settings: "smcp";
        font-variant: small-caps;
        background: none;
        text-decoration: underline;
      }
    }

    &_empy {
      width: 125px;
    }

    &_user {
      text-align: end;

      @media (max-width:$tablets) {
        display: none;
      }

      span {
        color: $primary;
        font-size: 14px;
      }
    }

    &_name {
      text-transform: capitalize;
    }

    &_logo {
      display: flex;
      font-weight: bold;
      font-size: 30px;
      position: relative;
      cursor: pointer;

      span {
        color: $primary;

        &:last-child {
          color: $textBlack;
          position: absolute;
          font-size: 5px;
          bottom: 0.3em;
          left: 5em;
          font-weight: normal;
        }
      }
    }
  }
}

.modal2,
.modal {
  position: absolute;
  border-radius: 10px;
  height: fit-content;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background: $textWhite;
  overflow-y: auto;
  padding: 2em 1em;
  max-width: 600px;

  &__close {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2em;
    text-decoration: none;
    background: none;
    padding: 0;
    color: $textBlack;
    z-index: 5;
  }

  @media (max-width: $phone) {
    width: 90%;
  }
}

.modal2 {
  width: 350px;
}

@import "vars";

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  min-width: 140px;
  width: fit-content;
  height: calc(100% - 7em);
  top: 5em;
  left: 10%;
  z-index: 2;
  padding: 5em 0;
  border-right: 1px solid $borderGray;

  &__links {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      width: fit-content;
      margin-bottom: 1em;
    }

    &_active {
      border-bottom: 3px solid $primary;
    }
  }

  @media (max-width: 480px) {
    .resp {
      display: flex !important;
      flex-direction: column;
    }

    .paymentIcon div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &__logout {
    width: 100%;
    display: flex;

    @media (max-width: $tablets) {
      justify-content: flex-end;
      margin-top: 0.3em;
    }

    button {
      padding: 0;
      background: 0;
      color: inherit;
      text-decoration: none;
      font-weight: 400;
      width: fit-content;

      &:hover {
        color: red;
      }

    }
  }

  @media (max-width: $desktoplong) {
    left: 5%;
    min-width: 120px;
  }

  @media (max-width: 900px) {
    left: 2%;
  }

  @media (max-width: $tablets) {
    display: none;
  }

}

.menuMovil {
  width: 20%;
  transform: translate(400%, 0) !important;
  position: absolute;
  height: fit-content;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: break-spaces;
  box-shadow: -10px 0px 94px rgba(0, 0, 0, 0.55);
  background: $textWhite;
  padding: 2em 1em;

  @media (max-width: $tablets) {
    width: 50%;
    transform: translate(100%, 0) !important;
  }

  @media (max-width: $phone) {
    width: 90%;
    transform: translate(11%, 0) !important;
  }


  &__burger {
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    position: fixed;
    top: 0.5em;
    right: 1em;
    z-index: 3;
    border-radius: 50%;
    height: 30px;
    width: 30px;

    @media (max-width:$tablets) {
      display: flex;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    position: relative;
  }

  &__logo {
    display: flex;
    font-weight: bold;
    font-size: 70px;
    position: relative;


    span {
      color: $primary;

      &:last-child {
        color: $textBlack;
        position: absolute;
        font-size: 9px;
        bottom: 0.5em;
        left: 9.5em;
        font-weight: normal;

      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em 0;
    border-top: 1px solid $borderGray;
    border-bottom: 1px solid $borderGray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    a {
      text-decoration: underline;

    }
  }

  &__footer {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: underline;
      margin-top: 0.5em;

    }
  }

  &__close {
    position: fixed;
    left: calc(80% - 2.5vh);
    top: calc(1% - 1px);
    display: flex;
    z-index: 4;
    padding: 0.75em;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: $textBlack;
    background: $textWhite;
    z-index: 5;

    @media (max-width: $desktoplong) {
      left: calc(75% - 3.5vh);
    }

    @media (max-width: $laptops) {
      left: calc(70% - 2.5vh);
    }

    @media (max-width: $tablets) {
      left: calc(49% - 2.5vh);
    }

    @media (max-width: $phone) {
      left: calc(9% - 2.5vh);
    }
  }
}