@import "vars";

.container {
  min-height: 100vh;
  background-color: $background;

  &__img {
    position: absolute;
    top: 5em;
    right: 0;
  }
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2.5em;
}

.topHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-top: 2.5em;
  margin: 0;
  margin-left: 10%;

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin-left: 2em;
    text-transform: uppercase;

    &_title {
      font-size: 50px;
      font-weight: 500;
      color: $primary;
      margin-bottom: 0.5em;
    }

    &_txt {
      font-size: 30px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 80%;
  margin: 0 auto 8em;
  height: 100%;
  min-height: 85vh;

  p {
    z-index: 1;
  }

  &__titleCourse,
  &__title {
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    margin: 1em 0 1em;
    text-transform: uppercase;
  }

  &__titleCourse {
    margin-top: 3em;
  }

  &__title2 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin: 0.5em 0;
    text-transform: uppercase;
  }

  &__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2em;

    &_txt {
      max-width: 50%;

      p {
        margin-bottom: 1em;
        text-align: justify;
      }
    }

    &_text {
      p {
        margin-bottom: 1em;
        text-align: justify;
      }
    }
  }
}

.section {
  display: flex;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 3em;

  &__title {
    color: $primary;
    font-weight: 500;
    font-size: 30px;
    width: 20%;
    padding-top: 1em;
  }

  &__info,
  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border-bottom: 1px solid $borderGray;
  }

  &__info {
    &_data {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $background;
      border: 1px solid $textGray;
      padding: 1em 1.5em;
      border-radius: 30%;
      margin-bottom: 1em;

      p {
        font-size: 35px;
        color: $primary;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}

.prices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33% - 2em);
    padding: 3em 1em;
    border: 1px solid $primary;
    border-radius: 10px;

    &_txt {
      font-size: 20px;
    }

    &_price {
      font-size: 30px;
      font-weight: 600;
    }

    p {
      margin-bottom: 1em;
    }

    &:hover {
      box-shadow: 0px 2.6769px 4.3538px rgba(0, 0, 0, 0.25);
    }
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  p {
    width: 100%;
  }
  
  &__title {
    font-size: 1.5em;
    font-weight: 600;
  }
  &__date{
    font-size: 12px;
    margin-bottom: -1em;
    margin-top: 2em;
  }

  &__input50 {
    width: calc(50% - 0.5em);
    margin: 0.5em 0;
  }

  &__date {

    &_day,
    &_year {
      width: 20%;
    }

    &_month {
      width: calc(60% - 1em);
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
  }
}

//PreLoad
.preload {
  padding: 2em 1em;
  position: absolute;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

@keyframes circles {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 10px;
    left: 10px;
    width: 172px;
    height: 172px;
    opacity: 0;
  }
}

.circles div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: circles 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  box-sizing: content-box;
}

//circle primary
.circles div:nth-child(1) {
  border-color: $primary;
  animation-delay: 0s;
}

//circle secondary
.circles div:nth-child(2) {
  border-color: $textBlack;
  animation-delay: -0.5s;

  @media (prefers-color-scheme: dark) {
    border-color: $textWhite;
  }
}

.spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.circles {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.notifications {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 4;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &__notification {
    display: flex;
    align-items: center;

    &_body {
      margin-left: 0.5em;
    }

    &_strong {
      font-weight: 600;
    }
  }

  &__warning,
  &__information,
  &__confirmation,
  &__error {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 0.5em;
    padding: 0.3em;
  }

  &__warning {
    background: #f6822b;
  }

  &__information {
    background: #23b8b0;
  }

  &__confirmation {
    background: #73b55f;
  }

  &__error {
    background: #d72a2a;
  }

  p {
    margin: 0 0.3em;
    color: $textWhite;
    font-size: 14px;
  }

  button {
    padding: 0;
    background: none;
    color: $textWhite;
    font-size: 20px;
    margin-left: 2em;
  }
}