@import "vars";
.container {
    min-height: 100vh;
    background-color: $background;
  }
  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
    margin-left: 20%;
    padding-top: 5em;
    height: 100%;
    @media (max-width: $tablets) {
      max-width: 95%;
      margin: 0 auto;
      padding-top: 9em;
    }
  }
.profile {
    width: 60%;
    margin: 5em auto;
    @media (max-width: 1775px) {
      width: 70%;
    }
    @media (max-width: 1520px) {
      width: 75%;
    }
    @media (max-width: 1420px) {
      width: 85%;
    }
    @media (max-width: 1000px) {
      width: 100%;
    }
    @media (max-width: $tablets) {
      margin-top: 0;
    }
    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 24px;
      }
      span {
        color: $primary;
        margin-left: 0.3em;
      }
    }
    &__profile {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 2.5em;
      @media (max-width: $tablets) {
        flex-direction: column;
        padding-top: 0;
      }
      &_gender{
        button{
          padding: 0.3em 1em;
          background: none;
          border: 1px solid $primary;
          color: $primary;
          margin-right: 0.5em;
        }
      }
      &_avatar {
        width: 40%;
        display: flex;
        align-items: center;
        padding-right: 2em;
        padding-top: 1em;
        text-align: center;
        span {
          color: $primary;
        }
        @media (min-width: 769px) {
          flex-direction: column;
        }
        @media (max-width: $phone) {
          flex-direction: column;
        }
        @media (max-width: $tablets) {
          width: 100%;
          padding-right: 0;
          padding-bottom: 1em;
          padding-top: 0;
          justify-content: center;
        }
      }
      &_name {
        text-transform: uppercase;
      }
      &_form {
        width: 60%;
        padding-left: 2em;
        border-left: 1px solid $borderGray;
        @media (max-width: $tablets) {
          width: 100%;
          padding-left: 0;
          padding-top: 1em;
          border-left: none;
          border-top: 1px solid $borderGray;
        }
      }
    }
    &__controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-top: 1.5em;
      &_cancel {
        background: none;
        color: $textBlack;
        padding: 0;
        margin-right: 1em;
      }
    }
    &__controlsTop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 3em;
      button {
        background: none;
        padding: 0;
        width: 50%;
        font-size: 20px;
        color: $textBlack;
        border-bottom: 1px solid $borderGray;
        border-radius: 0;
      }
      &_active {
        border-bottom: 3px solid $primary !important;
      }
    }
  }