$primary: #3f3630;
$green:#1fc600;
$textBlack: hsl(0, 0%, 0%);
$background: #f6f1dc;
$textGray: #b7b7b7;
$borderGray: #c4c4c4;
$backgroundDark: #111e27;
$textWhite: #ffffff;
$footer: #333333;
$breadcrumbPassed:#808080;
$backgroundItem: rgba(198, 198, 198, 0.15);
$backgroundItemDark:#1f2d36;
$backgroundItem2:#f5f5f5;
$phone: 480px;
$tablets: 768px;
$laptops: 1024px;
$desktop: 1200px;
$desktoplong: 1440px;